@import "../icons.variables.scss";

.app-bar {
    background-color: var(--appbar-back-color);
    color: var(--appbar-text-color);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;

    & > .app-text {
        position: relative;
        margin-left: 16px;
        padding-left: 46px;

        &:after {
            font-family: '#{$icomoon-font-family}';
            content: $icon-logo-blazor-large;
            font-size: 32px;
            position: absolute;
            top: -2px;
            left: 0;
        }

        min-width: 280px;

        a {
            color: #86bfff;
        }

        & > .app-title {
            font-weight: 600;
            font-size: 18px;
        }

        & > .app-description {
            font-size: 14px;
            color: var(--weaked-text-color);
            line-height: 14px;
            margin-top: -4px;
        }
    }

    & > .search-box {
        margin-left: 16px;
        margin-right: 16px;
        flex-grow: 1;
        display: flex;

        input {
            background-color: var(--searchbox-back-color);
            flex-grow: 1;
            border: solid 1px var(--searchbox-border-color);
            height: 28px;
            padding-left: 10px;
            border-radius: 4px;
            color: var(--searchbox-text-color);
            outline: none;

            &:focus {
                background-color: var(--searchbox-back-color-focused);
                color: var(--searchbox-text-color-focused);
            }
        }
    }
}
