@import "../icons.variables.scss";

.awesome-blazor-contents {
    margin-top: -20px;
    padding: 12px 12px 12px 32px;
    max-width: 900px;

    & > .group {
        display: none;

        &.visible {
            display: block;
        }

        & > .group-title {
            position: relative;
            font-size: 1.5em;
            font-weight: 600;
            color: var(--default-text-color);
            margin-top: 24px;
            margin-bottom: 16px;
            line-height: 1.25;
            padding-bottom: .3em;
            border-bottom: 1px solid var(--header-text-line-color);

            & > .group-anchor {
                position: absolute;
                width: 22px;
                height: 1.5em;
                left: -24px;
                display: flex;
                align-items: center;
                text-decoration: none;

                &:after {
                    font-family: '#{$icomoon-font-family}';
                    content: $icon-link;
                    font-size: 16px;
                    color: var(--default-text-color);
                    visibility: hidden;
                }
            }

            &:hover > .group-anchor:after {
                visibility: visible;
            }
        }

        blockquote {
            padding: 0 1em;
            color: var(--quote-text-color);
            border-left: .25em solid var(--quote-text-line-color);
            margin: 0 0 16px 0;
        }

        & > .resources {
            margin-left: 10px;

            & > .resource {
                margin-bottom: 10px;
                display: none;

                &.visible {
                    display: block;
                }

                & > .resource-title {
                    font-weight: 600;
                }

                & > .resource-description {
                    margin-left: 10px;
                }

                & > .badges.has-badges {
                    margin-top: 6px;
                    margin-left: 10px;
                    height: 24px;
                    position: relative;

                    & > .badge.last-commit {
                        position: absolute;
                        top: 0;
                        left: 92px;
                    }
                }

                & > .resource-description {
                    img {
                        vertical-align: middle;
                    }
                }

                code {
                    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
                    padding: .2em .4em;
                    margin: 0;
                    font-size: 85%;
                    background-color: rgba(27,31,35,.05);
                    border-radius: 3px;
                }
            }
        }

        & > .sub-groups > .awesome-blazor-contents {
            padding-left: 0;

            & > .group > .group-title {
                font-size: 1.25em;
                margin-top: 24px;
                margin-bottom: 16px;
                line-height: 1.25;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}
