@import "../icons.variables.scss";

footer {
    background-color: var(--footer-back-color);
    padding: 0 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > .footer-item {
        position: relative;
        margin-right: 20px;
        color: var(--footer-text-color);
        height: 24px;
        line-height: 24px;
        white-space: nowrap;

        &.blazor {
            &:after {
                font-family: '#{$icomoon-font-family}';
                content: $icon-logo-blazor-large;
                font-size: 20px;
                position: absolute;
                top: 0;
                left: 0;
            }

            padding-left: 24px;
        }

        &.github {
            &:after {
                font-family: '#{$icomoon-font-family}';
                content: $icon-mark-github;
                font-size: 20px;
                position: absolute;
                top: 0;
                left: 0;
            }

            padding-left: 24px;
        }
    }

    @media (max-width: 480px) {
        padding: 0 8px;
        font-size: 11.2px;

        & > .footer-item {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
