<footer>

    <div class="footer-item blazor">
        Powered by <a href="https://blazor.net" target="_blank">Blazor WebAssembly</a>
    </div>

    <div class="footer-item github">
        Source Code is on <a href="https://github.com/jsakamoto/awesome-blazor-browser" target="_blank">GitHub</a>
    </div>

</footer>