@import "../icons.variables.scss";

footer {
    background-color: #eee;
    padding: 0 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > .footer-item {
        position: relative;
        margin-right: 20px;
        color: #666;
        height: 24px;
        line-height: 24px;

        &.blazor {
            &:after {
                font-family: '#{$icomoon-font-family}';
                content: $icon-logo-blazor-large;
                font-size: 20px;
                position: absolute;
                top: 0;
                left: 0;
            }

            padding-left: 24px;
        }

        &.github {
            &:after {
                font-family: '#{$icomoon-font-family}';
                content: $icon-mark-github;
                font-size: 20px;
                position: absolute;
                top: 0;
                left: 0;
            }

            padding-left: 24px;
        }
    }
}
