@import '../icons.variables.scss';
@import '../site.variables.scss';

.group-selector {
    & > .group {

        &:not(.visible) {
            a {
                color: #444;
                cursor: default;
                pointer-events: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        & > .group-title {
            white-space: nowrap;
        }
    }

    .sub-group {
        margin-left: 10px;
    }
}
