<div class="groups-panel">

    <div class="header">
        <label class="@CssClass("toggle-box", Group.SelectionState)">
            <input type="button" @onclick="@(() => OnClickToggleBox(Group))" />
        </label>
         <input type="text" placeholder="Categories" @bind="Keywords" @oninput="OnInputCategories" />
    </div>

    <div class="selector">
        <GroupSelector Groups="Group.SubGroups" OnChangeGroupState="_OnChangeGroupState" />
    </div>
</div>
