@import "../site.mixin.scss";
$groups-panel-header-height: 48px;

.groups-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    & > .header {
        border-bottom: solid 1px var(--default-border-color);
        padding-left: 20px;
        height: $groups-panel-header-height;
        line-height: $groups-panel-header-height;
        display: flex;
        align-items: center;

        & > .text {
            display: inline-block;
            font-weight: 600;
        }
    }

    & > .selector {
        position: absolute;
        top: $groups-panel-header-height + 1px;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px 10px 10px 20px;

        @include scrollbar-color(var(--scrollbar-thumb-color), var(--scrollbar-back-color));
    }
}
