<div class="groups-panel">

    <div class="header">
        <a class="clickable" @onclick="OnClickSelectUnselectAll">
            Select/Unselect All
        </a>
    </div>

    <div class="selector">
        <GroupSelector Groups="Groups" OnChangeGroupSelection="_OnChangeGroupSelection" />
    </div>
</div>