<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Awesome Blazor Browser</title>

    <meta property="og:url" content="https://jsakamoto.github.io/awesome-blazor-browser/" />
    <meta property="og:title" content="Awesome Blazor Browser" />
    <meta property="og:image" content="https://jsakamoto.github.io/awesome-blazor-browser/css/images/ogp-image.png" />
    <meta property="og:description" content="A Blazor WebAssembly app for browsing the &quot;Awesome Blazor&quot; resources." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="google-site-verification" content="rYEeKrtpu8fNMzZs6wp8ELAI5S7vRBTLjcex_He4ldE" />

    <base href="/" />
    <link rel="shortcut icon" href="./favicon.ico">
    <!-- style for blazor-error-ui -->
    <link rel="stylesheet"
          href="data:text/css,%23blazor-error-ui%7Bbackground%3A%23ffffe0%3Bbottom%3A0%3Bbox-shadow%3A0%20-1px%202px%20rgba(0%2C0%2C0%2C.2)%3Bdisplay%3Anone%3Bleft%3A0%3Bpadding%3A.6rem%201.25rem%20.7rem%201.25rem%3Bposition%3Afixed%3Bright%3A0%3Bz-index%3A1000%7D%23blazor-error-ui%20.dismiss%7Bcursor%3Apointer%3Bposition%3Aabsolute%3Bright%3A.75rem%3Btop%3A.5rem%7D" />
    <link rel="stylesheet" href="css/site.min.css" />
    <link rel="stylesheet" href="AwesomeBlazorBrowser.styles.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6BPDXSDCR7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-6BPDXSDCR7');
    </script>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <!-- IMPORTANT: LOAD ""theme-initializer.js" before loading effect appears. -->
    <script src="scripts/theme-initializer.js"></script>

    <div id="app">
        <App @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        Blazor.start({ ssr: { disableDomPreservation: true } });
    </script>
</body>

</html>
