.settings {
    padding: 4px 0 0 10px;
    font-size: 14px;

    & h3:first-child {
        margin-top: 0;
    }

    h3 {
        margin-bottom: 0;
    }

    & > .theme {
        .icon {
            margin-right: 4px;
        }
    }
}
