$icomoon-font-family: "custom-icon-powered-by-icomoon" !default;
$icomoon-font-path: "css/fonts" !default;

$icon-checkbox-blank: "\e901";
$icon-checkbox-checked: "\e902";
$icon-expand-less: "\e900";
$icon-expand-more: "\e903";

