$icomoon-font-family: "Awesome-Blazor-Browser-Icons" !default;
$icomoon-font-path: "wwwroot/css/fonts" !default;

$icon-checkbox-blank: "\e901";
$icon-checkbox-checked: "\e902";
$icon-checkbox-indeterminate: "\e904";
$icon-expand-less: "\e900";
$icon-expand-more: "\e903";
$icon-link: "\e905";
$icon-logo-blazor-large: "\e906";
$icon-mark-github: "\e907";
$icon-menu: "\e908";
$icon-settings: "\e909";
$icon-light-mode: "\e90a";
$icon-dark-mode: "\e90b";

