@import "site.theme.scss";

body, input[type=text] {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: var(--default-text-color);
}

body {
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--default-back-color);
}

input[type=text] {
    font-size: 14px;
}

a {
    color: var(--default-link-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.clickable {
        cursor: default;
        user-select: none;
        transition: color linear 0.2s;

        &:hover {
            color: var(--default-link-color-light);
            text-decoration: none;
        }
    }
}

.loading {
    z-index: 2;
    font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    color: #88a;
    font-size: 18px;
    text-align: center;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.loading::after {
    content: '';
    border: solid 10px;
    border-color: #88a #eee #eee;
    border-radius: 60px;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: rotation 1.5s linear 0s infinite
}

@keyframes rotation {
    0% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(405deg)
    }
}

#blazor-error-ui {
    background: #ffffe0;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,.2);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    right: 0;
    z-index: 1000
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: .5rem
}

@import 'icons.scss';
@import 'toggle-box.scss';
@import 'App.razor.scss';
@import 'Components/AppBar.razor.scss';
@import 'Components/GroupsPanel.razor.scss';
@import 'Components/GroupSelector.razor.scss';
@import 'Components/Contents.razor.scss';
@import 'Components/Footer.razor.scss';
@import 'Components/Settings.razor.scss';
